# Defines and mantains consistent coding styles for different code editors and IDEs

# Top-most EditorConfig file
root = true

# Unix-style line endings
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# Unity's YAML-based scene and prefab files
[*.unity, *.prefab]
indent_style = space
indent_size = 2

# Indentation settings for all files
[*.md]
indent_style = space
indent_size = 2

# CSharp files
[*.cs]
max_line_length = 100

# Python files
[*.py]
max_line_length = 120

# Shader files
[*.shader]
indent_style = space
indent_size = 4

# YAML configs
[*.yml, *.yaml]
indent_style = space
indent_size = 2